/*Basic Style*/
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 62.5%;
}

body{
    max-width: 100%;
}

/*typography*/
h1{
    font-size: 20px;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-align: left;
}
/*form*/
form{
    border: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    overflow: hidden;
    padding: 0 2rem 0 2.5rem;
    text-align: left;
}

div{
    line-height: 4.5rem;
}

label{
    display: block;
    margin-top: 3px;
    width: 25%;
    
}

input{
    margin: 1rem 0;
    padding: 1rem 0 1rem 0.5rem;
    width: 100%;
}

input[type="text"][type="email"]{
    border-radius: 5px;
    box-sizing: border-box;

}

input[type="text"]:focus[type="email"]:focus{
    border-color: antiquewhite;
    outline: 0;
}

button{
    background: var(--color-primary);
    border-radius: 50px;
    color: black;
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline: 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
}

textarea{
    margin: 1rem 0;
    padding: 1rem 0 1rem 0.5rem;
    resize: none;
    width: 100%;
}

a {
    color: var(--color-primary);
    text-decoration-line: underline;
}
a:hover{
    color:antiquewhite;
}

.btn__form{
    margin-bottom: 5rem;
    margin-top: 3rem;
}
@media screen and (min-width:768px){
    /*navigation bar and logo*/
    .container-logo{
        padding-left: 1;
        position: absolute;
        width: 12.5rem;
    }
    nav ul{
        flex-direction: row;
        justify-content: end;
        padding: 1rem;
    }
    nav li{
        margin: 0 1rem;
        word-spacing: 1rem;
    }

    /*form*/
    form{
        text-align: center;
    }

    label{
        padding-left: 35rem;
        text-align: left;
    }
    input, textarea{
        width: 50%;
    }
    
    /*typography*/
h1{
    font-size: 3rem;
    margin: 5rem 0 5rem 0;
    padding: 0 33rem 0 35rem;
}

.footer .collapsible__content {
    text-align: left;
}
}