/*basic*/
html{
    font-size: 62.5%;
}
:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-headings:#1b0760;
    --color-body:#9b97a9;
}

/*typography*/
body{
    font-family:inter, 'Courier New', Courier, monospace;
    color: var(--color-primary);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,h2,h3{
    color: var(--color-secondary);
}

h1{
    font-size: 7rem;;
}
h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}

@media screen and (min-width:1024px){
    body{
        font-size:1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }
}